.field-title {
	display: block;
	margin-left:20px;
	margin-bottom: 12px;
	padding: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	

	&--color {
		color:@red-pink;
	}


	&--center {
		text-align: center;
	}
}

.field-input {
	display: block;
	width: 235px;
	padding:18px 20px;
	margin-bottom: 20px;
	border:2px solid @dark-grey;


	&:last-child {
		margin-bottom: 0;
	}


	&--hidden {
		display: none;
	}


	&--counter {
		display: inline-block;
		margin:@h-center;
		padding: 0 10px;
		height: 100%;
		width: 106px;
		vertical-align: top;
		text-align: center;
		.input-plus-minus();
	}


	&--companion-number {
		width: 15px;
		text-align: center;
		background-color: @light-grey;
	}


	&--companion-name {
		width: 177px;
	}


	&--companion-nickname {
		width: 177px;
	}


	&:hover {
		border: 2px solid #283645;
	}


	&:focus {
		outline: 2px solid @red-pink;
	}
}


.radio-btn {
	display: none;
	

	&-title {
		position: relative;
		display: block;
		width: 220px;
		padding-left: 60px;
		margin-bottom:45px;
		vertical-align: middle;
		line-height: 30px;


		&:before{
			content: '';
			position: absolute;
			display: inline-block;
			top:0;
			left:0;
			width: 35px;
			height: 35px;
			vertical-align: middle;
			background-color: white;
			box-shadow: 0 0 0 2px #E6E6E6;
			border-radius: 20px;


			
		}	


		&:hover:before {
			box-shadow: 0 0 0 2px #283645;
		}


		&:active:before {
			box-shadow: 0 0 0 2px @red-pink;
		}

	}

	&:checked + &-title:before {
		content: '';
		position: absolute;
		display: inline-block;
		top:0;
		left:0;
		width: 15px;
		height: 15px;
		vertical-align: middle;
		background-color: @red-pink;
		border:10px solid white;
		border-radius: 20px;
	}

}


.checkbox-btn {
	display: none;

	&-title {
		position: relative;
		display: block;
		width: 220px;
		padding-left: 60px;
		margin-bottom:50px;
		vertical-align: middle;
		line-height: 30px;


		&:before{
			content: '';
			position: absolute;
			display: inline-block;
			top:0;
			left:0;
			width: 35px;
			height: 35px;
			vertical-align: middle;
			box-shadow: 0 0 0 2px #E6E6E6;			
		}


		&:hover:before {
			box-shadow: 0 0 0 2px #283645;
		}


		&:active:before {
			box-shadow: 0 0 0 2px @red-pink;
		}


		&:last-child {
			margin-bottom: 0;
		}	

	}


	&:checked + &-title:before {
		content: '';
		position: absolute;
		display: inline-block;
		top:0;
		left:0;
		width: 35px;
		height: 35px;
		vertical-align: middle;
		background: url('@{img-path}/checkbox.svg') 0 0 no-repeat;
		box-shadow: 0 0 0 2px #E6E6E6;

	}


	&:checked + &-title:hover:before {
		box-shadow: 0 0 0 2px #283645;
	}


	&:checked + &-title:active:before {
		box-shadow: 0 0 0 2px @red-pink;
	}

}


.upload-btn {
	display: block;
	width: 236px;
	padding: 18px 20px;
	margin:@h-center;
  	background-color: white;
  	border:2px solid @dark-grey;
  	border-radius: 3px;
  	cursor: pointer;
  	.font-for-btns();


  	&:hover {
  		border:2px solid #283645;
  	}


  	&:active {
  		color: white;
  		background-color: #283645;
  	}

}

.main-btn {
	display: block;
	width: 280px;
	padding: 18px 20px;
	margin:@h-center;
  	color:white;
  	background-color:#00AD6A;
  	border:none;
  	border-radius: 3px;
  	cursor:pointer;
  	.font-for-btns();


  	&:hover {
  		background-color: #1c9b5e;
  	}

  	&:active {
  		color: #61b98f;
  		outline: none;
  	}


  	&:disabled {
  		background-color: @dark-grey;
  		color: white;
  	}
}


.input-plus-minus() {
	
    &-minus{
	    position: relative;
	    display: inline-block;
	    width: 61px;
	    height: 100%;
	    vertical-align: top;
	    border:2px solid @dark-grey;
	    background-color: white;
	    cursor: pointer;


        &::before{
            content: '';
            position: absolute;
            display: block;
            top:50%;
            left:50%;
            width: 27px;
            height: 3px;
            background-color: black;
            transform:translate(-50%,-50%);
        }


        &:hover {
        	border:2px solid #283645; 
        }


        &:active {
        	background-color: #283645; 
        }


        &:active:before {
			background-color: white;
		}
    }

    &-plus{
        position: relative;
        display: inline-block;
        width: 61px;
		height: 100%;
        vertical-align: top;
        border:2px solid @dark-grey;
        background-color: white;
        cursor: pointer;


        &::before{
            content: '';
            position: absolute;
            display: block;
            top:50%;
            left:50%;
            width: 3px;
            height: 27px;
            background-color: black;
            transform:translate(-50%,-50%);
        }


        &::after{
            content: '';
            position: absolute;
            display: block;
            top:50%;
            left:50%;
            width: 27px;
            height: 3px;
            background-color: black;
            transform:translate(-50%,-50%);
        }


        &:hover {
        	border:2px solid #283645; 
        }


        &:active {
        	background-color: #283645; 
        }


        &:active:before {
			background-color: white;
		}


		&:active:after {
			background-color: white;
		}
    }
}


.competition-companions__btn {
	display: none;
}


@media (min-width: 700px) {


	.upload-btn {
		width: 455px;
	}


	.send-form-btn {
		display: inline-block;
		width: 300px;
		margin-right: 125px;
	}


	.competition-companions__btn {
		display: block;
		position: absolute;
		right: 0;
		top:50px;
		font-family: 'Open Sans', 'Arial', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		background: none;
		border: none;
		outline: none;
		cursor:pointer;

		&:hover {
			color: @red-pink;
			text-decoration: underline;
		}

		&:active {
			color: @red-pink;
			text-decoration: underline;
			opacity: 0.3;
		}
	}


	.field-input--counter {
		width: 80px;
	}


	.field-input--stretch {
		width: 578px;
	}
}


@media (min-width: 1200px) {


	.field-input {
	

		&--stretch {
			width: 254px;
		}

		
		&--counter {
			width: 120px;
		}
	}


	.radio-btn{

		&-title {
			width: 138px;
		}
	}


	.upload-btn {
		width: 775px;
		background-color:@red-pink;
		color: white;
		border: none; 


		&:hover {
			border: none;
		} 
	}

}