.main-nav {
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 1000;


	&--show {
		display: block;
	}


	&__item {
		position: relative;
		list-style: none;
		background-color: @top-menu-color;
		border-top:1px solid #405361;
		border-bottom:2px solid black;
	}


	&__item {

		a {
			display: block;
			width: 280px;
			padding: 22px 20px;
			color:white;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
		}


		&:hover a{
			color: @red-pink;
		}


		&:active a{
			color: @red-pink;
			opacity: 0.3;
		}


		&:first-child {
			padding: 22px 20px;
		}
	}


	&__item-logo {
		width: 74px;
		height: 23px;
		background: url('@{img-path}/logotype-white-mobile.svg') 0 0 no-repeat;
		z-index: 999;
	}

	
	&__toggle-cross {
		position: absolute;
		top: 50%;
		right: 20px;
		width: 23px;
		height: 23px;
		cursor: pointer;
		transform: translateY(-50%);
		z-index: 1001;


		&:hover div {
			background: @red-pink;
		}


		&:active div {
			background: @red-pink;
			opacity: 0.3;
		}


		&line{
			position: absolute;
			top: 50%;
			width: 30px;
			height: 3px;
			background: white;


			&-1 {
				left:-4px;
				transform: translateY(-50%) rotate(45deg);
			}


			&-2 {
				right: -4px;
				transform: translateY(-50%) rotate(-45deg);
			}
		}


		
	}

}


@media (min-width: 700px) {

	.main-nav {
		display: none;


		&__toggle {
			position: relative;
			top:15px;
		}

		&__item {

			a {
				width: 620px;
				padding: 22px 40px;
			}
		}
	}
}


@media (min-width: 1200px) {

	.main-nav {
		float: right;
		display: block;
		position: relative;
		margin-top: 15px;


		&__toggle {
			display: none;
		}


		&__list {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}


		&__item--logo {
			display: none;
		}


		&__item {
			min-height: 30px;
			margin-right: 70px;
			background-color: transparent;
			border: none;


			&:first-child {
				display: none;
			}


			&:last-of-type {
					margin-right: 0px;
			}


			a {
				width: auto;
				padding: 0;
				color: white;
				font-weight: 300;
				text-transform: none;
			}


			&:hover {
				
				box-shadow: 0 2px 0 0 white;
			}


			&:hover a {
				color: white;
			}

			
			&:active {
				opacity: 0.3;
				box-shadow: none;
			}
			
		}
	}
}
