.page-footer {
	padding: 60px 20px 45px 20px;


	&__logo {
		display: block;
		width: 146px;
		height: 40px;
		margin: @h-center;
		margin-bottom: 40px;
		color: #283645;
		text-align: center;


		&:hover {
			color: @red-pink;
		}


		&:active {
			color: #283645;
			opacity: 0.3;
		}
	}


	&__logo-mobile-tablet {

			.fill__logo {
				fill: currentColor;
			}


			.fill__glasses {
				fill: @red-pink;
			}
	}


	&__logo-desktop {
		display: none;
	}


	&__developer-link-logo {
		color: @red-pink;



		&:hover {
			color: #283645; 
		}


		&:active {
			color: #283645;
			opacity: 0.3; 
		}
	}


	&__developer-logo {
		.fill {
			fill: currentColor;
		}
	}


	.social-links {
		text-align: center;
		margin-bottom: 35px;


		&__item {
			display: block;
			width: 45px;
			height: 45px;
			background-color: white;
			border:3px solid @dark-grey;
			border-radius: 30px;


			&--twitter {
				background: url('@{img-path}/twitter.svg') 10px 12px no-repeat;
			}


			&--fb {
				background: url('@{img-path}/facebook.svg') 17px 12px no-repeat;
			}


			&--youtube {
				background: url('@{img-path}/youtube.svg') 14px 12px no-repeat;
			}


			&:hover {
				border:3px solid #283645;
			}


			&:active {
				opacity: 0.3;
			}
		}


		li {
			display: inline-block;
			margin-right: 10px;
			list-style: none;	
		}


		li:last-child {
			margin-right: 0px;
		}
	}


	&__developer {
		text-align: center;
		height: 40px;
		


		&-text {
			display: inline-block;
			margin-right: 10px;
			vertical-align: middle;
			font-size: 14px;
		
		}


		&-logo {
			display: inline-block;
			vertical-align: middle;
		}
	}


}


.page-footer-index {
	display: none;
}


@media (min-width: 700px) {


	.page-footer {
		display: flex;
		padding: 40px 40px 0 40px;
		justify-content: space-between;
		flex-direction: row;


		&__logo {
			margin: 0;
		}


		&__developer{
			margin-top:10px;
		}
	} 
}


@media (min-width: 1200px) {


	.page-footer {

		padding-top: 70px;
		padding-bottom: 30px;
		padding-left: 130px;
		padding-right: 130px;


		&__logo {
			margin: 0;


			&:hover {
				color: @red-pink;
			}


			&:active {
				color: #283645;
				opacity: 0.3;
			}
		}


		&__developer {

			&-text {
				font-size: 18px;
			}
		}

		
		&__logo-desktop {
			display: block;


			.fill__logo {
				fill: currentColor;
			}


			.fill__glasses {
				fill: @red-pink;
			}
		}


		&__logo-mobile-tablet {
			display: none;
		}


	}
}