.page-header {
    position: absolute;
    top: 0;
    width: 280px;
    padding: 20px 20px;
    background: rgba(0, 0, 0, .3);
    .clearfix();
    z-index: 999;


    &__logo {
        display: block;
        float: left;
        width: 74px;
        height: 23px;
        background: url('@{img-path}/logo.png') 0 0 no-repeat;

    }
}


@media (min-width: 700px) {
    .page-header {
        width: 620px;
        padding-top: 25px;
        padding-bottom: 45px;
        padding-right: 40px;
        padding-left: 40px;


        &__logo {
            display: inline-block;
            width: 145px;
            height: 40px;
            background: url('@{img-path}/logotype-white-tablet.svg') 0 0 no-repeat;
        
        }
    }
}