.promo {
	height:458px;
	background: url('@{img-path}/bg-photo-1.jpg') 0 0 no-repeat;
	overflow: hidden;


	&__header {
		display: block;
		width: 280px;
		margin: @h-center;
		padding-top:85px;
		padding-bottom:25px;
		color: white;
		text-align: center;
	}
}
