.promo {
    background: url('@{img-path}/bg-photo-mobile.jpg') 0 0 no-repeat;
    overflow: hidden;
    

    &__header {
        display: block;
        width: 280px;
        margin: @h-center;
        margin-top:95px;
        margin-bottom:52px;
        color: white;
        text-align: center;
        line-height: 30px;
    }
}


.promo-index {
    height: 460px;


    .promo__header {
        margin-top:85px;
        margin-bottom:27px;
        color: white;
        text-align: center;
        line-height: 30px;
    }


    .promo__img-iphone {
        display: block;
        width: 257px;
        height: 313px;
        background: url('@{img-path}/iphone-hand-mobile.png') 0 0 no-repeat;
    }
}


@media (min-width: 700px) {


    .promo-index {
        position: relative;
        height: 730px;
        

        .promo__header {
            width: 200px;
            margin-top:203px;
            margin-bottom:30px;
            margin-left: 88px;
            font-size: 40px;
            line-height: 48px;

        }

        .promo__img-iphone {
            position: absolute;
            bottom:0;
            right: 40px;
            width: 474px;
            height: 545px;
            background: url('@{img-path}/iphone-hand-tablet@1x.png') -185px 0 no-repeat;
        }
    }


    .promo {
        background: url('@{img-path}/bg-photo-tablet@1x.jpg') -250px 0 no-repeat;
        background-size: 1200px 730px;


        &__header {
            width: 600px;
            margin-top:175px;
            margin-bottom:85px;
            font-size: 50px;
            line-height: 60px;
        }
    }
}