.reviews {
	position: relative;
	padding: 45px 0;
	overflow: hidden;


	.quotes__img {
		display: none;
	}


	&__header {
		margin-bottom: 15px;
	}


	&__text {
		font-size: 14px;
		line-height: 30px;
	}


	&__pagination{
		text-align: center;
	}


	&__inner {
		width: 1050px;
		margin-bottom: 30px;
		transition-duration:.5s;
	}


	&__slide {
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
		width: 280px;
		text-align: center;
		vertical-align: top;
	}


	.toggle-1:checked ~ &__pagination &__label-1,
	.toggle-2:checked ~ &__pagination &__label-2,
	.toggle-3:checked ~ &__pagination &__label-3 {
		display: inline-block;
		width: 6px;
		height: 6px;
		background-color: white;
		border: 3px solid #283645;
		border-radius: 6px;
		cursor:pointer;
	}


	.toggle-1:checked ~ &__inner {
		transform:translateX(0px);
	}


	.toggle-2:checked ~ &__inner {
		transform:translateX(-324px);
	}


	.toggle-3:checked ~ &__inner {
		transform:translateX(-648px);
	}


	&__arrow--left &__label,
	&__arrow--right &__label {
		display: none;
	}


	&__label {
	    display: inline-block;
	    width: 6px;
	    height: 6px;
	    margin-right: 12px;
	    vertical-align: middle;
	    background-color: #7e868f;
	    border-radius: 3px;
	    cursor:pointer;
	    opacity: 0.6;


	    &:hover {
        	opacity: 1;
    	}


	    &:active {
	        opacity: 0.3;
	    }
	}


    &:last-child {
        margin-right: 0px;
    }


   
}


@media (min-width: 700px) {


	.reviews {
		padding: 0;
		padding-top: 20px;
		padding-bottom: 22px;


		&__inner {
			width:2150px;
			.clearfix();
		}


		&__slide {
			float: left;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 620px;
			padding:0 40px;
		}
		

		&__header {
			margin-bottom: 8px;
			font-size: 20px;
			order:2;
		}


		&__text {
			order:1;
			padding-bottom: 38px;
			font-size: 18px;
			line-height: 30px;
		}


		&__reviewer-about {
			margin-bottom: 30px;
			font-size: 14px;
			order:3;
		}


		.toggle-2:checked ~ &__inner {
			transform:translateX(-700px);
		}


		.toggle-3:checked ~ &__inner {
			transform:translateX(-1400px);
		}
	}
}


@media (min-width: 1200px) {


	.reviews {
		padding-top: 90px;
		padding-bottom: 0px;


		.quotes__img {
			display: block;
			margin:@h-center;
			margin-bottom: 48px;


			&-fill {
				fill: #efefef;
			}
		}


		&__inner {
			position: relative;
			width: 3600px;
			margin-bottom: 0px;
		}


		&__slide {
			padding: 0 290px;
		}


		&__text {
			width: 690px;
			padding-bottom: 35px;
		}


		&__header {
			font-size: 24px;
			line-height: 30px;
		}


		&__reviewer-about {
			font-size: 18px;
		}


		&__arrow--left {
			position: absolute;
			left: 130px;
			top: 230px;
		}


		&__arrow--right {
			position: absolute;
			left: 1048px;
			top: 230px;
		}


		.toggle-1:checked ~ &__arrow--left &__label-3,
		.toggle-2:checked ~ &__arrow--left &__label-1,
		.toggle-3:checked ~ &__arrow--left &__label-2{
			display: block;
			width: 22px;
			height: 42px;
			background: url('@{img-path}/review-arrow-left.svg') 0 0 no-repeat;
		}

		.toggle-1:checked ~ &__arrow--right &__label-2,
		.toggle-2:checked ~ &__arrow--right &__label-3,
		.toggle-3:checked ~ &__arrow--right &__label-1{
			display: block;
			width: 22px;
			height: 42px;
			background: url('@{img-path}/review-arrow-right.svg') 0 0 no-repeat;
		}


		.toggle-2:checked ~ &__inner {
			transform:translateX(-1200px);
		}


		.toggle-3:checked ~ &__inner {
			transform:translateX(-2400px);
		}


		&__pagination {
			display: none;
		}
	}
}